<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/scrolling-nav.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Trevor's Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<!--<div class="row">-->
<!--            <div>-->
<!--                <img class="img-fluid mb-5 d-block mx-auto w-50" src="../static/img/cinque_terre.jpg" alt="">-->
<!--            </div>-->
<!--        </div>-->


    <header class="text-white">
      <div class="container text-center">
        <h1>My List of Cool Places To Visit</h1>
        <p class="lead">This is a list of 10 beautiful and/or interesting places to visit in the future</p>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>The Glorious List</h2>
            <p class="lead">Here is the list of 10 beautiful and interesting places you should visit!:</p>
            <ul>
              <li>1) Cinque Terre, Italy</li>
              <li>2) Whitehaven Beach, Australia</li>
              <li>3) Cliffs of Moher, Ireland</li>
              <li>4) Milford Sound, New Zealand</li>
              <li>5) Quebec City</li>
              <li>6) Canaima National Park, Venzuela</li>
              <li>7) Antelope Canyon, Arizona</li>
              <li>8) Atlantic Ocean Road, Norway</li>
              <li>9) Bagan, Myanmar</li>
              <li>10 Nambid Desert, Namibia</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Want More Suggestions?</h2>
            <p class="lead">If you thought my ideas were cool, but there weren't enough of them. GO LOOK UP A DIFFERENT WEBSITE FOR SOME MORE XD</p>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Get Ahold of Me</h2>
            <p class="lead"></p>Email: johnsmith@1234.com       Phone: (123) 456-7890   My socials-     Instagram: johnsmith        Facebook: John Smith</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="../static/js/scrolling-nav.js"></script>

  </body>

</html>
